.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    p{
        font-family: system-ui;
        font-weight: 600;
        font-size: 18px;
    }
}